{% extends 'templates/app.twig' %}

{% block content %}
    {% if auth.check %}
       <p class="text-center"> You are logged in</p>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Users list
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.username }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    {% else %}
        You are not logged in. please login first.
    {% endif %}
{% endblock %}
